@import '../../../styles.scss';

.about-header{
    @include headers('../../../assets/img/nosotros.jpg', '../../../assets/img/nosotros-movil.jpg', 50%);
    h2{
        position: relative;
        z-index: 50;
    }
}

.about-container{
    margin-top: 50px;
    margin-bottom: 50px;
    .container{
        max-width: 70%;
        @include medium {
            max-width: 90%;
        }
    }

    .us{
        .resaltar{
            font-weight: 700;
            font-size: 1.1em;
            color: $verde-oscuro;
            padding: 6px;
        }
    }

    .productos{
        height: 300px;
        background-color: $verde-claro;
        color: $gris-claro;
    }

    .redes{
        .col-12{
            background-color: $verde-oscuro;
            position: relative;
            padding: 0;
            border-radius: 20px;

            &::after{
                content: '';
                //position: relative;
                display: block;
                padding-bottom: 100%;
            }

            a{
                position: absolute;
                top: 0;
                left: 0;
                color: $blanco;
                width: 100%;
                height: 100%;
                
                i{
                    font-size: 100%;
                }
            }
        }
    }
}