<header class="about-header d-flex align-items-center">
    <h2 class="mx-auto text-light">Sobre nosotros</h2>
</header> <!-- ABOUT HEADER -->

<main class="about-container">
        <section class="us container text-center">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, totam suscipit voluptatum 
                doloremque ad iste. 
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, libero! Sequi dignissimos 
                mollitia est deserunt neque laboriosam aliquid quod accusantium recusandae. Autem in sequi 
                error, impedit perspiciatis saepe dignissimos quam dolore ab voluptas
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, libero! Sequi dignissimos 
                mollitia est deserunt neque laboriosam
            </p>
            <p class="resaltar mt-5">
                ¡¡ No pierdas la oportunidad de obtener un producto de calidad a un precio acorde !!
            </p>
        </section>
    
        <section class="productos d-flex align-items-center my-5">
            <div class="container text-center">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolorem consequuntur quasi aliquam, 
                    recusandae necessitatibus quam voluptas quis quisquam, explicabo totam animi eos beatae. Vero 
                    dignissimos aliquid pariatur! Maiores, magnam?
                </p>
                <div class="d-flex justify-content-center">
                    <button class="btn">Ver productos</button>
                </div>
            </div>
        </section>

        <section class="redes">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="col-12">
                            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/lunagolfstore/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="col-12">
                            a
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="col-12">
                            a
                        </div>
                    </div>
                </div>
            </div>
        </section>
</main>