@import '../../../../../styles.scss';

.card{
    z-index: 1;
    margin-left: 6px;
    margin-right: 6px;
    -webkit-box-shadow: 0 0px 6px 0 rgba(0,0,0,0.2), 0 0px 6px 0 rgba(0,0,0,0.18);
    box-shadow: 0 0px 6px 0 rgba(0,0,0,0.2), 0 0px 6px 0 rgba(0,0,0,0.18);
    background-color: rgba(255, 255, 255, 0.95);
    img{
        cursor: pointer;
        background-color: $blanco;
    }
    .card-title{
        min-height: 2em;
        cursor: pointer;
        font-size: 15px !important;
        font-weight: 500 !important;
        text-overflow: ellipsis;
        overflow: hidden;

        display: -webkit-box;
        line-height: 1;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .card-text{
        color: $verde-brillante !important;
        font-weight: 700 !important;
        font-size: 18px !important;
    }

    @include to-big{
        &:hover{
            -webkit-box-shadow: 0 0px 8px 0 $verde-claro, 0 0px 10px 0 $verde-claro;
            box-shadow: 0 0px 8px 0 $verde-claro, 0 0px 10px 0 $verde-claro;
            background-color: $verde-claro;
    
            .card-title{
                color: $gris-claro;
            }
    
            .card-text{
                text-shadow: 0px 0px 8px rgba(0,0,0,0.2);
            }
        }
    }

    @include medium{
        background-color: rgba(255, 255, 255, 0.75);

        .card-body{
            padding: 12px;
        }
        .card-title{
            font-size: 12px !important;
        }
        .col-6{
            padding-left: 0 !important;
            padding-right: 0 !important;
            margin-left: 15px;
            margin-right: 15px;
        }

    }

}

.square-container{
    width: 100%;
    position: relative;

    &::after{
        content: '';
        display: block;
        padding-bottom: 100%;
    }

    .img-container{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $blanco;

        img{
            width: auto;
            max-height: 100%;
            max-width: 100%;
        }
    }
}