@import '../../../../../styles.scss';

.product-name-header{
    padding-top: 68px;
    background-color: $verde-oscuro;
    color: $gris-claro;

    h2{
        font-size: 2.1em;
        font-weight: 700;
        text-transform: uppercase;
    }

    @include medium{
        padding-top: 47px;
    }
}

.info{
    font-size: 1em;
    border-bottom: 1px solid #dee2e6;

    i{
        font-size: 1.5rem;
        margin: auto auto;
    }
    p{
        margin: auto;
    }   
}

.carousel{
    background-color: $gris-claro;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    .carousel-indicators{
        position: initial;
        margin: 0;
        li{
            width: .45rem;
            height: .45rem;
            background-color: $gris-oscuro;
            border: none;
            margin-top: 6px;
            margin-bottom: 6px;
        }
    }
    p{
        display: inline-block;
        font-size: .9.2em;
        margin: 0;
    }
    i{
        font-size: 1.5rem;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.producto{
    h3{
        font-weight: 700;
        margin: 0;
    }
    .precio{
        color: #64CF3E;
        font-weight: 700;
        font-size: 1.45em;
        margin-top: 0 !important;
    }
    .image-container{
        width: 100%;
        &::after{
            content: '';
            display: block;
            padding-bottom: 100%;
        }
    }
    @include medium{
        p{
            margin-top: 25px;
            font-size: .95em;
        }
    }

}

.relacionados{

    @include medium{
        margin-top: 4.5rem !important;
        margin-bottom: 4.5rem !important;
    }
    h2{
        font-weight: 700;
    }
    position: relative;

    .productos-card{
        position: relative;
        padding-top: 25px;
        padding-bottom: 25px;

        &:after{
            content: '';
            top: 0;
            left: 0;
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 100%;
            background-image: url(https://d26lpennugtm8s.cloudfront.net/stores/232/825/products/epic1-9a249ca1895797baa915132875201388-1024-1024.jpg);
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: 35%;
            background-size: 150%;
            -moz-filter: blur(10px);
            -webkit-filter: blur(10px);
            filter: blur(10px);
        }

        .container{
            padding-bottom: 5px;
            @include medium{
                overflow-x: scroll;
                overflow-y: hidden;
            }
            .row{
                @include medium{
                    flex-wrap: nowrap;
                    flex-direction: row;
                }
            }
        }
        ::-webkit-scrollbar {
            display: none;
        }
    }
}

.modal{
    font-size: 1em;

    h4{
        color: $verde-claro;
    }

    .modal-dialog{
        @include to-big{
            max-width: 80%;
            max-height: 90%;
        }

        .modal-content{
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }

    }

    .modal-title{
        text-transform: uppercase;
        font-size: 1em;
    }

    .modal-body{
        h5{
            font-size: .92em;
            //color: $verde-claro;
        }
        span{
            font-weight: 700;
            color: $verde-claro;
        }
        img{
            width: 5rem;
            margin-right: 8px;
            border: 1px solid $gris-claro;
        }
    }
}