<div class="d-flex align-items-center justify-content-center">
    <div class="spinner-border text-light mx-auto d-block my-5" role="status" *ngIf="load" style="width: 6.5em; height: 6.5em;">
        <span class="sr-only">Cargando...</span>
    </div> <!-- SPINNER BORDER -->
</div>  <!-- D FLEX CONTENEDOR -->


<div class="row contenedor">
    <div class="columna col-6 col-md-3 p-0" *ngFor="let producto of productos">

      <app-card [producto]="producto"></app-card>

    </div> <!-- COLUMNAS CARD -->
</div> <!-- ROW -->

<div class="d-flex justify-content-center mt-2">
    <button class="text-uppercase btn btn-sec px-5" (click)="obtenerData()" *ngIf="!limitProduct && !load" [disabled]="btnDisabled">Mostrar más productos</button>
</div> <!-- BOTON DE CARGAR -->