@import '../../../../../styles.scss';

.contenedor{
    @include medium{
        margin-left: -10px;
        margin-right: -10px;
    }

    .columna{
        margin-bottom: 2rem;

        @include medium{
            margin-bottom: .8rem;
        }
    }
}