$gris-oscuro: #4B4B4B;
$negro: #212121;
$gris-claro: #F8F8F8;
$blanco: #ffff;
$verde-oscuro: #455C5A;
$verde-brillante: #16BF3D;
$verde-claro: #2B806A;

$fuente-principal: $gris-oscuro;
$fuente-sideNav: $gris-claro;
$background-sidenav: $negro;

// FOOTER
$backgroud-footer: $verde-oscuro;

body, html{
    font-family: 'Lora', serif;
    font-size: 15px;
    color: $fuente-principal;
    background-color: $blanco;
    width: 100%;
    height: 100%;
}


@mixin x-big{
    @media only screen and (max-width: 1200px){
        @content;
    }
};
@mixin big{
    @media only screen and (max-width: 992px) {
        @content;
    }
};
@mixin medium{
    @media only screen and (max-width: 767px) {
        @content;
    }
};

@mixin small{
    @media only screen and (max-width: 575px) {
        @content;
    }
};

@mixin to-big{
    @media only screen and (min-width: 768px){
        @content
    }
}

@mixin headers( $image, $height: 50%, $opacity: 0.6, $position: center){
    position: relative;
    height: $height;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url($image);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: $position;
        filter: brightness($opacity);
        -webkit-filter: brightness($opacity);
    }
};

body{
    @include to-big{
        overflow-y: scroll !important;
    }
}

// CLASE PARA HOME COMPONENTS
.marca{
    height: 120px;
    width: auto;
}

.btn-sec{
    color: $blanco;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0);
    background-color: $verde-claro;
    font-size: 0.7em;
    &:hover{
        background-color: rgb(48, 156, 128);
    }
}